$inactive_input: rgb(232, 236, 245);
$font_color: rgb(9, 18, 32);
$btn_gradient_left: rgb(95, 94, 225);
$btn_gradient_right: rgb(137, 83, 213);
$error : rgb(194, 105, 117);

.form_area {
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;

    position: absolute;
    font-family: 'Montserrat', sans-serif;
    color: $font_color;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 50, 0.25);

    display: flex;
    align-items: center;
    justify-content: center;

    .form_box {

        height: 400px;
        width: 480px;

        position: relative;

        background-color: rgb(255, 255, 255);
        border-radius: 17px;
        box-shadow: 0px 0px 20px 0px rgba(34, 60, 80, 0.3);

        form {
            height: fit-content;
            box-sizing: border-box;
            padding-left: 22px;
        }

        label {
            font-size: 12px;
            font-weight: 700;
            display: block;
            margin-top: 14px;
            margin-bottom: -8px;

        }

        .loader {
            margin-top: 50px;
            color: black;
            text-align: center;
            display: block;
            font-size: 14px;
   
        }

        input {
            padding-left: 15px;
            height: 36px;
            width: 400px;
            border-radius: 10px;
            outline: none;
            border: none;
            background-color: $inactive_input;

            &:focus {
                background-color: #fff;
                box-shadow: 0px 0px 20px 5px rgba(34, 60, 80, 0.2);
            }
        }
    }


    .header {
        padding-left: 20px;
        padding-top: 20px;
        font-weight: 700;
        font-size: 18px;
        width: 460px;
        height: 35px;
        
        border-bottom: 2px solid rgb(224, 224, 238);
    }

    .error {
        font-size: 12px;
        color : $error;
    }

    .close{
        position: absolute;
        display: inline-block;
        top: 10px;
        right: 10px;

        button {
            cursor: pointer;
            background: url('./../../assets/svg/close.svg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 22px 22px;
            height: 36px;
            width: 36px;
            border-radius: 50%;
            border: none;

            &:hover {
                box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
            }

            &:active {
                box-shadow: inset 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
            }

            
        }
    }

    button[type="submit"] {
        cursor: pointer;
        width: 420px;
        height: 46px;
        margin-top: 25px;
        border-radius: 30px;
        outline: none;
        border: none;
        color: white;
        background: linear-gradient(159deg, $btn_gradient_left 0%, $btn_gradient_right 100%);
        

        &:hover {
            background: linear-gradient(159deg, rgb(52, 192, 110) 0%, rgb(68, 247, 217) 100%);
        }

        &:active {
            background: linear-gradient(159deg, rgb(30, 105, 61) 0%, rgb(49, 182, 160) 100%);
        }
    }

    .or {
        color: rgb(105, 105, 105);
        text-align: center;
        display: block;
        margin-left: 50%;
        margin-top: 20px;
        transform: translateX(-50%);
    }

    .connectWithSocials {
        height: 100px;
        box-sizing: border-box;
        margin-bottom: 20px;
        width: 70%;
        margin: 0 auto;

        display: flex;
        justify-content: space-around;
        align-items: center;
        img {
            padding: 10px;
            height: 50px;
            width: 50px;
            background-color: rgb(255, 255, 255);
            border-radius: 50%;
            cursor: pointer;
            border: 1px solid rgb(201, 201, 201);

            object-fit: cover;
            height: 30px;
            width: 30px;

            &:hover {
                box-shadow: 0px 0px 20px 5px rgba(34, 60, 80, 0.2);
            }

            &:active {
                box-shadow: inset 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
            }
        }

        
    }
}


.registration_form {
    box-sizing: border-box;
    height: 550px !important;


    .loader {
        margin-top: 50px !important;
    }

    .agree {
        display: block;
        margin-top: 10px;
        margin-left: 20px;
        font-size: 14px;
        width: 420px;
        line-height: 20px;
        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .registration_error {
        margin-top: 5px;
        display:  block;
        height: 20px;
        color: $error;
        font-size: 14px;
    }
}


.authorization_form {
    .authorization_error {
        margin-top: 5px;
        display:  block;
        height: 20px;
        color: $error;
        font-size: 14px;
    }

    .loader {
        margin-top: 110px !important;
    }
}

