.form_area {
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  color: #091220;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 50, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form_area .form_box {
  height: 400px;
  width: 480px;
  position: relative;
  background-color: white;
  border-radius: 17px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(34, 60, 80, 0.3);
          box-shadow: 0px 0px 20px 0px rgba(34, 60, 80, 0.3);
}

.form_area .form_box form {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 22px;
}

.form_area .form_box label {
  font-size: 12px;
  font-weight: 700;
  display: block;
  margin-top: 14px;
  margin-bottom: -8px;
}

.form_area .form_box .loader {
  margin-top: 50px;
  color: black;
  text-align: center;
  display: block;
  font-size: 14px;
}

.form_area .form_box input {
  padding-left: 15px;
  height: 36px;
  width: 400px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #e8ecf5;
}

.form_area .form_box input:focus {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 0px 20px 5px rgba(34, 60, 80, 0.2);
}

.form_area .header {
  padding-left: 20px;
  padding-top: 20px;
  font-weight: 700;
  font-size: 18px;
  width: 460px;
  height: 35px;
  border-bottom: 2px solid #e0e0ee;
}

.form_area .error {
  font-size: 12px;
  color: #c26975;
}

.form_area .close {
  position: absolute;
  display: inline-block;
  top: 10px;
  right: 10px;
}

.form_area .close button {
  cursor: pointer;
  background: url("./../../assets/svg/close.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 22px 22px;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  border: none;
}

.form_area .close button:hover {
  -webkit-box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
}

.form_area .close button:active {
  -webkit-box-shadow: inset 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
          box-shadow: inset 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
}

.form_area button[type="submit"] {
  cursor: pointer;
  width: 420px;
  height: 46px;
  margin-top: 25px;
  border-radius: 30px;
  outline: none;
  border: none;
  color: white;
  background: linear-gradient(159deg, #5f5ee1 0%, #8953d5 100%);
}

.form_area button[type="submit"]:hover {
  background: linear-gradient(159deg, #34c06e 0%, #44f7d9 100%);
}

.form_area button[type="submit"]:active {
  background: linear-gradient(159deg, #1e693d 0%, #31b6a0 100%);
}

.form_area .or {
  color: dimgray;
  text-align: center;
  display: block;
  margin-left: 50%;
  margin-top: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.form_area .connectWithSocials {
  height: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form_area .connectWithSocials img {
  padding: 10px;
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #c9c9c9;
  -o-object-fit: cover;
     object-fit: cover;
  height: 30px;
  width: 30px;
}

.form_area .connectWithSocials img:hover {
  -webkit-box-shadow: 0px 0px 20px 5px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 0px 20px 5px rgba(34, 60, 80, 0.2);
}

.form_area .connectWithSocials img:active {
  -webkit-box-shadow: inset 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
          box-shadow: inset 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
}

.registration_form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 550px !important;
}

.registration_form .loader {
  margin-top: 50px !important;
}

.registration_form .agree {
  display: block;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
  width: 420px;
  line-height: 20px;
}

.registration_form .agree a {
  text-decoration: none;
}

.registration_form .agree a:hover {
  text-decoration: underline;
}

.registration_form .registration_error {
  margin-top: 5px;
  display: block;
  height: 20px;
  color: #c26975;
  font-size: 14px;
}

.authorization_form .authorization_error {
  margin-top: 5px;
  display: block;
  height: 20px;
  color: #c26975;
  font-size: 14px;
}

.authorization_form .loader {
  margin-top: 110px !important;
}
/*# sourceMappingURL=form.module.css.map */