.result {
    height: 250px;
    width: 600px;
    border-radius: 20px;
    background-color: blueviolet;
    color: white;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px 0px rgba(34, 60, 80, 0.5);
    animation-name: result;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
    text-align: center;
}

@keyframes result {
    0%{
        transform: translateY(-20px);
        opacity: 0.1;
    }
    50%{
        transform: translateY(6px);
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}